.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .bestwidth{
    width: 100%;
    height: auto;
  }

  .play-off{
    display: none;
    width: 100%;
  }
  .play-on{
    display: block;
    width: 100%;
  }
  
  #name{
      border-radius: 10px;
      width: 60%;
      border: none;
      transition-delay: 10000000000000s;
      border-bottom: 0.5px solid black;
  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  